<div id="post-{{id}}">
    <img class='card-image' src="{{thumbnail}}" alt="This is a post">
    <div class='card-body'>
        <p class='card-title'>{{title}}</p>
        <p class='card-text'>{{description}}</p>
        <a href="/post/{{id}}" class='anchor-button'>Post Details</a>
    </div>
</div>