<header>
</header>

<div id="post-container">
    <div id="photo-container">
        <div id="post-title">
            <h2>{{currentPost.title}}</h2>
        </div>
        <img id="post-image" src="/{{currentPost.photopath}}" alt="Image">

    </div>

    <div id="comments-container">
        <div id="post-description"><h6><strong>Description</strong></h6>{{currentPost.description}}</div>
        <div id="post-info">
            <p><span>Posted by: </span> <span id="post-author">{{currentPost.username}}</span></p>
            <p><span>Posted at: </span> <span id="post-date">{{currentPost.created}}</span></p>
        </div>
        <div id="comments">
            {{#each currentPost.comments}}
            {{> comment this}}
            {{/each}}
        </div>
        <div id="comment-box">
            <textarea id="comment-box-text" aria-label="With textarea" placeholder="Enter Comment Here!"></textarea>
            <button id="comment-box-button">Submit Comment</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('span[class=comment-date]').forEach((postedDate) => {
            postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
        })
    })

    function addMessage(data) {
        let template = document.createElement('template');
        template.innerHTML =
            `<div id="comment-${data.commentId}">
                <strong class="author-text">@${data.username}</strong>
                <span class="comment-date">${new Date().toLocaleString()}</span>
                <div class="comment-text">${data.comment}</div>
            </div>`;
        document.getElementById('comments').firstChild.before(template.content.firstChild);
    }

    document.getElementById('comment-box-button').onclick = (event) => {
        let commentText = document.getElementById('comment-box-text').value;
        let postId = document.location.pathname.match(/\d+/g).map(Number)[0];

        if (!commentText) {
            return;
        }

        let fetchOptions = {
            method: "POST",
            headers: {
                "Content-Type": "Application/json"
            },
            body: JSON.stringify({
                comment: commentText,
                postId: postId
            })
        }
        fetch('/comments/create', fetchOptions)
            .then((response) => response.json())
            .then((data) => {
                if (data.code == 1) {
                    addMessage(data);
                }
                else {
                    addFlashFromFrontEnd(data.message, data.status);
                }
            })
            .catch(err => console.log(err));
    }
</script>